
.topbar{
    width: 1440px;
    height: 24px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 85.37%;
    background: #FFFFFF;
}
.group{
    position: absolute;
    left: 93.75%;
    right: 1.67%;
    top: 16.67%;
    bottom: 20.83%;
}
.deliver{
    position: absolute;
    height: 17px;
    left: 45.35%;
    right: 45.28%;
    top: calc(50% - 17px/2 + 0.5px);
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.8px;
    
    color: #000000; 
}
.deliver:hover{
    text-decoration: underline;
}
.stores{
    position: absolute;
    height: 15px;
    left: 21.21%;
    right: 0%;
    top: calc(50% - 15px/2);

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */
    text-align: right;
    letter-spacing: 0.0833333px;

    color: #000000;
}
.stores:hover{
    text-decoration: underline;
}
.shape{
    position: absolute;
    width: 8px;
    height: 11.12px;
    left: 0px;
    top: 2.12px;
}
header{
    position: absolute;
    width: 1440px;
    height: 657px;
    left: 0px;
    top: 24px;
    /* background: url(./img/9193579.png); */
}
#WallPaper0 {

    position: absolute;
    width: 1440px;
    height: 657px;
    left: 0px;
    top: 24px;
    /* background-image: url('/img/hp-oh-hi.png');  */
    
    }
    #WallPaper1 {
    position: absolute;
    width: 1440px;
    height: 657px;
    left: 0px;
    top: 24px;
    /* background-image: url('/img/9193579.png'); */
    }
.head{
    width: 1440px;
    height: 164px;
    position: absolute;
    width: 1440px;
    height: 164px;
    left: 0px;
    top: 0px;
   
}
.aurora{
    width: 141px;
    height: 57px;
    position: absolute;
    height: 57px;
    left: 1.67%;
    right: 88.54%;
    top: calc(50% - 57px/2 - 13.5px);

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 57px;
    /* identical to box height */
    letter-spacing: 0.95px;

    color: #FFFFFF;

    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);

}

.search{
    width: 584px;
    height: 48px;
    position: absolute;
    left: 29.72%;
    right: 29.72%;
    top: 29.27%;
    bottom: 41.46%;
    

}
.search:hover{
    cursor:text;
    
}

.search_rect{
    width: 584px;
    height: 48px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #F7F7F7;
    mix-blend-mode: normal;
    opacity: 0.24;
    border-radius: 3px;
}
.search input{
    background-color: transparent;
    border: none;

    width: 540px;
    height: 48px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    outline: none;
}
.search input::placeholder{

    width: 530px;
    height: 17px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: 0.8px;
    
    color: #FFFFFF;
}

.looking{
    position: absolute;
    height: 17px;
    left: 2.74%;
    right: 69.69%;
    top: calc(50% - 17px/2 + 0.5px);
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: 0.8px;
    
    color: #FFFFFF;
}
/* SEARCH */
.fill{
    position: absolute;
    left: 96.61%;
    right: 1.39%;
    top: 36.3%;
    bottom: 40.31%;

    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.fill:hover{
    cursor: grab;
}
.basket{
    position: absolute;
    left: 84.17%;
    right: 1.67%;
    top: 29.27%;
    bottom: 56.1%;

}
#basket:hover{
    text-decoration: underline;
}
#basket{
    position: absolute;
    height: 17px;
    left: -1.35%;
    right: 22.15%;
    top: calc(50% - 17px/2 + 1.5px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height */
    text-align: right;
    letter-spacing: 1px;

    color: #FFFFFF;
}
#basket_img:hover{
    cursor: grab;
}

#path{
    position: absolute;
    left: 89.12%;
    right: 0%;
    top: 0%;
    bottom: 0%;


}

.nav{
    width: 641px;
    height: 19px;
    position: absolute;
    left: 27.78%;
    right: 27.71%;
    top: 73.17%;
    bottom: 15.24%;

}

.whatsnew{
    position: absolute;
    height: 20px;
    left: 0%;
    right: 85%;
    top: calc(50% - 20px/2 + 0.5px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);

}
.whatsnew:hover{
    text-decoration: underline;
}

.women{
    position: absolute;
    height: 20px;
    left: 19.34%;
    right: 71.92%;
    top: calc(50% - 20px/2 + 0.5px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}
.women:hover{
    text-decoration: underline;
}

.access{
    position: absolute;
    height: 20px;
    left: 33.07%;
    right: 51.33%;
    top: calc(50% - 20px/2 + 0.5px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}
.access:hover{
    text-decoration: underline;
}

.kids{
    position: absolute;
    height: 20px;
    left: 53.82%;
    right: 41.03%;
    top: calc(50% - 20px/2 + 0.5px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}
.kids:hover{
    text-decoration: underline;
}
.beauty{
    position: absolute;
    height: 20px;
    left: 63.96%;
    right: 27.46%;
    top: calc(50% - 20px/2 + 0.5px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}
.beauty:hover{
    text-decoration: underline;
}
.outlet{
    position: absolute;
    height: 20px;
    left: 77.54%;
    right: 14.2%;
    top: calc(50% - 20px/2 + 0.5px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);

}
.outlet:hover{
    text-decoration: underline;
}
.stories{
    position: absolute;
    height: 20px;
    left: 90.8%;
    right: 0%;
    top: calc(50% - 20px/2 + 0.5px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}
.stories:hover{
    text-decoration: underline;
}

.hello{
    position: absolute;
    width: 787px;
    height: 90px;
    left: 327px;
    top: 344px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
}


main{
    position: absolute;
    width: 1440px;
    height: 343px;
    left: 0px;
    top: 681px;

    border: 1px solid #000000;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
.newletter{
    width: 440px;
    height: 82px;
    position: absolute;
    left: 34.72%;
    right: 34.72%;
    top: 9.33%;
    bottom: 66.76%;

}
.arrivals{

    position: absolute;
    height: 36px;
    left: 0.23%;
    right: 0%;
    top: calc(50% - 36px/2 - 23px);

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.872727px;

    color: #000000;
}
.youremail{
    width: 440px;
    height: 32px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 60.98%;
    bottom: 0%;
   
    
}

.youremail input{
    width: 334px;
    height: 32px;
    position: absolute;
    left: 0%;
    right: 24.09%;
    top: 0%;
    bottom: 0%;
    padding-left: 10px;
    border: 1px solid #E1E0E1;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    outline: none;
}
.youremail input::placeholder{
    width: 334px;
    position: absolute;
    height: 17px;
    left: 2.5%;
    right: 70.23%;
    top: calc(50% - 17px/2 + 0.5px);
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: 0.8px;

    color: #4A4A4A;
}


.register{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    
}
button{
    width: 94px;
    height: 32px;
    color: #FFFFFF;
    position: absolute;
    left: 78.%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #000000;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
    /* identical to box height, or 200% */
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
button:hover{
    cursor: grab;
}

footer{
    width: 1440px;
    height: 197px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 827px;
    bottom: 0%;

    background: #F7F7F7;
}


.link{
    position: absolute;
    width: 891px;
    height: 105px;
    left: 282px;
    top: 172px;
    }
   
.group1{
    position: absolute;
    left: 19.58%;
    right: 70.28%;
    top: 50.15%;
    bottom: 19.24%;
    }

#about{
    position: absolute;
    height: 19px;
    left: 0%;
    right: 52.05%;
    top: calc(50% - 19px/2 - 43px);

    font-family: CormorantGaramond;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: 1.16364px;

    color: #000000;
} 
    #about:hover{
        text-decoration: underline;
    }
#who{
    position: absolute;
    height: 19px;
    left: 0%;
    right: 0%;
    top: calc(50% - 19px/2 - 7px);

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height, or 158% */
    letter-spacing: 0.1px;

    color: #000000;

}
#who:hover{
    text-decoration: underline;
}
#stores{
    position: absolute;
    height: 19px;
    left: 0%;
    right: 0%;
    top: calc(50% - 19px/2 + 18px);
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height, or 158% */
    letter-spacing: 0.1px;
    
    color: #000000;
}
#stores:hover{
    text-decoration: underline;
}
#customer{
    position: absolute;
    height: 19px;
    left: 0%;
    right: 0%;
    top: calc(50% - 19px/2 + 43px);

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height, or 158% */
    letter-spacing: 0.1px;

    color: #000000;
}
#customer:hover{
    text-decoration: underline;
}
.group2{
    position: absolute;
    left: 33.06%;
    right: 56.81%;
    top: 50.15%;
    bottom: 19.24%;
}
.group3{
    position: absolute;
    left: 45.97%;
    right: 43.89%;
    top: 50.15%;
    bottom: 19.24%;
}
.group4{
    position: absolute;
    left: 58.89%;
    right: 30.97%;
    top: 50.15%;
    bottom: 20.12%;
}
.group5{
    position: absolute;
    left: 71.81%;
    right: 18.54%;
    top: 50.44%;
    bottom: 34.4%;
}
#payment{
    position: absolute;
    height: 38px;
    left: 0%;
    right: 0%;
    top: calc(50% - 38px/2 - 32px);

    font-family: CormorantGaramond;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.16364px;

    color: #000000;
}
#payment:hover{
    text-decoration: underline;
}
#purchase{
    position: absolute;
    height: 19px;
    left: 0%;
    right: 0%;
    top: calc(50% - 19px/2 + 16.5px);

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height, or 158% */
    letter-spacing: 0.1px;

    color: #000000;
}
#purchase:hover{
    text-decoration: underline;
}
#guarantee{
    position: absolute;
    height: 19px;
    left: 0%;
    right: 0%;
    top: calc(50% - 19px/2 + 41.5px);

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height, or 158% */
    letter-spacing: 0.1px;

    color: #000000;
}
#guarantee:hover{
    text-decoration: underline;
}
#social{
    position: absolute;
    height: 19px;
    left: 0%;
    right: 68.35%;
    top: calc(50% - 19px/2 - 16.5px);

    font-family: CormorantGaramond;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: 1.16364px;

    color: #000000;
}
#social:hover{
    text-decoration: underline;
}
#insta{
    position: absolute;
    left: 0%;
    right: 88.49%;
    top: 69.23%;
    bottom: 0%;
}
#insta:hover{
    cursor: grab;
}
#twitter{

    position: absolute;
    left: 23.02%;
    right: 64.75%;
    top: 71.15%;
    bottom: 1.92%;
    
}
#twitter:hover{
    cursor: grab;
}
#snapchat{
    position: absolute;
    left: 46.76%;
    right: 41.73%;
    top: 69.23%;
    bottom: 1.92%;
}
#snapchat:hover{
    cursor: grab;
}
#facebook{
    position: absolute;
    left: 69.78%;
    right: 24.46%;
    top: 69.23%;
    bottom: 0%;
}
#facebook:hover{
    cursor: grab;
}
#youtube{
    position: absolute;
    left: 87.05%;
    right: 0%;
    top: 73.08%;
    bottom: 1.92%;
}
#youtube:hover{
    cursor: grab;
}
.copyright{
    position: absolute;
    height: 14px;
    left: 42.22%;
    right: 42.22%;
    top: calc(50% - 14px/2 + 150.5px);

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 13px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.5px;

    color: #000000;
    
}